* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 130px 0;
  background-image:url(https://cdn.pixabay.com/photo/2017/02/15/10/39/food-2068217_960_720.jpg);
  background-size:cover;
  color: black;
  text-align: left;
}

.top-wrapper h1 {
  font-size: 40px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper h2 {
  margin-bottom: 6px;
}

.fa {
  margin-right: 1px;
}

header {
  width: 100%;
  background-color:#ffffff;
  color: #333333;
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-logo {
  margin-top: 20px;
  font-size: 40px;
  font-family: "Copperplate", fantasy;
  color:#33333;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 15px 25px 0 25px;
  color: black;
  display: block;
  float: left;
  transition: all 0.5s;
}


.header-right a:hover {
  /*background-color: rgba(255, 255, 255, 0.3);*/
  background-color: black;
}

.contents {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  /*height: 1200px;*/
  /*padding-bottom: 80px;*/
/*  margin: 0 auto;*/
  /*background-color: #f7f7f7;*/
  text-align: center;
  /*box-sizing: border-box;*/
}

.section-title {
  font-family: "Copperplate", fantasy;
  font-size:28px;
  margin-bottom:50px;
  margin-top:80px;
  color:#33333;
  text-align: center;
}

.contenst-item{
  float:left;
  /*margin-right:50px;*/
  flex: auto;
  width: 30%;
  /*box-sizing: border-box;*/
}

.contenst-item p{
  font-family: "Copperplate", fantasy;
  font-size:24px;
  margin-top:30px;
  margin-bottom:50px;
  /*margin-left:70;
  margin-right:70;*/
  color:#33333;
}

.flex-menu {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  box-sizing: border-box;
}

.contact-form {
  font-family: "Copperplate", fantasy;
  padding-top: 20px;
  color: #33333;
}

/*.contact-form h5 {
    border-bottom: 3px solid #eee;
}*/

input, textarea{
  width:300px;
  height:60;
  margin-top:10px;
  margin-bottom:20px;
  padding:20px;
  font-size:18px;
}

 img {
  width:300px;
}

.contact-submit{
  font-family: "Copperplate", fantasy;
  color:#33333;
}

.active:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer {
  background-color:#d3d3d3 ;
  color: #333333;
  width: 100%;
/*  padding-top: 20px;
  padding-bottom: 20px;*/
  height: 100px;
  padding: 20px 25px;
}
.footer-logo {
  float: left;
  font-size: 25px;
  /*padding: 20px 40px;*/
  font-family: "Copperplate", fantasy;
}
.footer-list {
  float: right;
}
.footer-list li {
  padding-right: 20px;

  float: left;
  font-size: 15px;
  font-family: "georgia", serif;
}

li {
  list-style: none;
}

span.menu-icon {
  color: black;
  /*float: right;*/
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

